.formControl {
    display: flex;
    flex-direction: column;
}

.inputField {
    padding: 10px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    margin-bottom: 10px;
    /* margin-right: 5px; */
}
.textField {
    height: 80px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    padding: 10px;
}
.btn {
    /* width: 250px;
    float: right; */
    min-width: 160px;
    background: rgb(255, 205, 205);
    padding: 10px;
    font-size: 1rem;
    color: rgb(255, 79, 79);
    border: none;
    border-radius: 5px;
    /* box-shadow: 0 4px 10px rgba(111, 0, 255, 0.2); */
    margin-top: 10px;
    cursor: pointer;
}

.label {
    display: inline-flex;
    color: rgb(94, 94, 94);
    font-size: .9rem;
}