

.contentBox {
    margin-top: -140px;
    width: 100%;
    display: grid;
    place-items: center;
    
}

.location {
    font-weight: bold;
    font-size: 14px;
    margin: 10px 0;
    color: rgb(82, 82, 82);
}

.nameTitle {
    font-size: 2.5rem;
    color: rgb(49, 49, 49);
}
.shortDes {
    width: 40%;
    text-align: center;
    color: rgb(131, 131, 131);
    margin: 20px 0;
}



@media only screen and (max-width: 600px){
    .shortDes {
        width: 90%;
    }
}